header {
  grid-column: span 4;
  border: 0;
  padding: 4px;
  background-image: linear-gradient(#0288d1, #01579b);

}

header h1 {
  font-style: italic;
  font-family: Helvetica, sans-serif;
}

header h1 a {
  text-decoration: none;
  color: #29b6f6;
  margin: 1em;
}

header h1 a:hover {
  color: #e1f5fe;
  text-decoration: none;
}

#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 960px;
  border: 4px solid #01579b;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

nav {
  grid-column: span 4;
  padding: 0;
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#0288d1, #01579b);
  border: 5px solid #01579b;
}

nav li {
  display: inline-block;
  width: 225px;
  margin: 0;
  padding: 0;
  border: 5px solid #01579b;
}

nav li a {
  display: block;
  background-image: linear-gradient(#0288d1, #01579b);
  padding: 10px;
  color: #29b6f6;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}

nav li a:hover {
    background-image: linear-gradient(#81d4fa, #039be5);
    color: #01579b;
}

body {
  background-color: #999999;
}

main {
  grid-column: span 4;
  padding: 1em;
}

main h2 {
  border-bottom: 4px solid #01579b;
  padding: 7px;
  color: #01579b;
  font-family: Helvetica, sans-serif;
}

main #justify {
  font-weight: bolder;
}

main a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

main a:hover {
  color: #01579b;
  text-decoration: underline;;
}

main p {
  margin-bottom: 7px;
}

main img {
  float: left;
  border: 4px solid #01579b;
  margin: 1em;
}

main .About {
  float: right;
  border: 4px solid #01579b;
  margin: 1em;
}

main .Gallery {
  display: inline-block;
  margin: 15px;
  margin-bottom: 30px;
}

footer {
  grid-column: span 4;
  background-color: red;
  padding: 16px;
  border-top: 4px solid #01579b;
}

footer a img {
  align-content: left;
}
